.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;

  .icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
  }
}
