.input-with-button {
  display: flex;
  margin-top: 1.25rem;

  app-input {
    flex: 1;
    width: 80%;
  }

  app-button {
    flex-shrink: 0;
    width: 20%;
  }

  ::ng-deep input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  ::ng-deep .btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-radius: 0.25rem;
  }
}

/*
Adaptation for phone
*/
@media (max-width: 768px) {
  app-input {
    width: 70% !important;
  }
  app-button {
    width: 30% !important;
  }
}
