h2 {
  margin: 0;
}

.form-add-city {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card-add-city {
  width: 60vw;
}

button {
  height: 1rem;
  width: 60px;
}

/*
Adaptation for tablet
*/
@media (max-width: 1024px) {
  .form-card-add-city {
    width: 100vw !important;
  }
}

/*
Adaptation for phone
*/
@media (max-width: 768px) {
}
