/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  overflow-y: hidden;

  background-image: url("/assets/background/background.jpg");
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
}
