.logo {
  text-align: end;
  color: #ffffff;
  padding: 1rem 2rem 1rem 0rem;
}

.card-list {
  margin: 3rem 1rem 1rem 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weather-logo {
  width: 128px;
  margin-top: -25px;
}

.card-back-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.card-information-weather {
  width: 60%;
}
.card-information-weather p {
  text-align: left;
  white-space: nowrap;
}
.card-weather-block {
  width: 40%;
  display: flex;

  justify-content: center;
  margin-top: -3rem;
}

.card-front div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.card-item-back {
  display: flex;
  flex-direction: column;
}

app-icon-button {
  height: 24px;
  margin-top: auto;
}

.open-link {
  color: hsla(318, 100%, 65%, 0.82);
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: hsla(318, 98%, 57%, 0.82);
  }

  &:active {
    color: hsla(318, 69%, 55%, 0.82);
  }
}

/*
Adaptation for tablet
*/
@media (max-width: 1024px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

/*
Adaptation for phone
*/
@media (max-width: 768px) {
  .card-list {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 0 !important;
  }

  .card-item-back {
    height: 12rem !important;
  }

  .card-information-weather {
    width: 100% !important;
  }

  .card-information-weather p {
    white-space: normal !important;
  }

  .card-weather-block {
    display: none;
  }
}

/*
Adaptation for small phone 
*/
@media (max-width: 480px) {
  .card-list {
    grid-template-columns: 1fr !important;
    grid-gap: 0 !important;
  }
}
