<div class="logo">
  <h1>Weather Dashboard</h1>
</div>

<app-form-input-city
  (cityWeatherChange)="updateCityWeather($event)"
  [isLoading]="weatherService.requestStatus.isLoading"
></app-form-input-city>

<div class="card-list">
  <app-city
    *ngFor="let weather of cityWeather"
    cityName="{{ weather.city }}"
    (fetchWeatherForecast)="fetchWeatherForecast($event)"
  >
    <div front class="card-item-front">
      <img
        class="weather-logo"
        [src]="getWeatherImageById(weather.weather_id).src"
        alt="{{ weather.weather }}"
      />
      <h2>{{ weather.city }} {{ weather.temperature | mathRound }}&deg;C</h2>
    </div>
    <div back class="card-item-back">
      <h3>{{ weather.city }} {{ weather.temperature | mathRound }}&deg;C</h3>
      <div class="card-back-block">
        <div class="card-information-weather">
          <div>
            <p>Feels like: {{ weather.condition.feels_like }}&deg;C</p>
            <p>Pressure: {{ weather.condition.pressure }} mm</p>
            <p>Humidity: {{ weather.condition.humidity }}%</p>
            <p>Wind deg: {{ weather.wind.deg }}&deg;</p>
            <p>Wind speed: {{ weather.wind.speed }} m/s</p>
          </div>
        </div>
        <div class="card-weather-block">
          <img
            class="weather-back-logo"
            [src]="getWeatherImageById(weather.weather_id).src"
            alt="{{ weather.weather }}"
          />
        </div>
      </div>
      <div class="card-weekly-weather">
        <div *ngFor="let day of weather.list" class="day-block">
          <div class="day-header">
            {{ day.dayOfWeek }}
          </div>
          <div class="day-temperature">
            <div class="night-temp">
              {{ day.nightTemp | number : "1.0-0" }}&deg;C
            </div>
            <div class="day-temp">
              {{ day.dayTemp | number : "1.0-0" }}&deg;C
            </div>
          </div>
        </div>
      </div>
      <app-icon-button
        icon="delete"
        alt="Delete"
        (click)="onDeleteCity(weather.id)"
      ></app-icon-button>
    </div>
  </app-city>
</div>
