.logo {
  text-align: end;
  color: #ffffff;
  padding: 1rem 2rem 1rem 0rem;
}

.card-list {
  margin: 3rem 1rem 1rem 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.weather-logo {
  width: 128px;
  margin-top: -25px;
}

.card-back-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.card-information-weather {
  width: 60%;
}
.card-information-weather p {
  text-align: left;
  white-space: nowrap;
}
.card-weather-block {
  width: 40%;
  display: flex;

  justify-content: center;
  margin-top: -3rem;
}

.card-front div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.card-item-front {
  height: 90%;
  display: grid;
  place-items: center;
}

.card-item-back {
  display: flex;
  flex-direction: column;
  height: 14rem;
}

app-icon-button {
  height: 24px;
  margin-top: auto;
}

.card-weekly-weather {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.day-block {
  border: 2px solid white;
  border-radius: 8px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
}

.day-header {
  font-weight: bold;
  font-size: 1.2em;
}

.day-temperature {
  margin-top: 8px;
}

.night-temp,
.day-temp {
  margin: 4px 0;
}

.open-link {
  color: hsla(318, 100%, 65%, 0.82);
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: hsla(318, 98%, 57%, 0.82);
  }

  &:active {
    color: hsla(318, 69%, 55%, 0.82);
  }
}

/*
Adaptation for tablet
*/
@media (max-width: 1200px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

/*
Adaptation for phone
*/
@media (max-width: 992px) {
  .card-list {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 0 !important;
  }

  .card-information-weather {
    width: 100% !important;
  }

  .card-information-weather p {
    white-space: normal !important;
  }
}

/*
Adaptation for small phone 
*/
@media (max-width: 767px) {
  .card-list {
    grid-template-columns: 1fr !important;
    grid-gap: 0 !important;
  }
}
