<div class="logo">
  <h1>Weather Dashboard</h1>
</div>

<app-form-input-city
  (cityWeatherChange)="updateCityWeather($event)"
  [isLoading]="weatherService.requestStatus.isLoading"
></app-form-input-city>

<div class="card-list">
  <app-city *ngFor="let weather of cityWeather">
    <div front>
      <img
        class="weather-logo"
        [src]="getWeatherImageById(weather.weather_id).src"
        alt="{{ weather.weather }}"
      />
      <h2>{{ weather.city }} {{ weather.temperature | mathRound }}&deg;C</h2>
    </div>
    <div back>
      <h3>{{ weather.city }} {{ weather.temperature | mathRound }}&deg;C</h3>
      <div class="card-back-block">
        <div class="card-information-weather">
          <div>
            <p>Feels like: {{ weather.condition.feels_like }}&deg;C</p>
            <p>Pressure: {{ weather.condition.pressure }} mm</p>
            <p>Humidity: {{ weather.condition.humidity }}%</p>
            <p>Wind deg: {{ weather.wind.deg }}&deg;</p>
            <p>Wind speed: {{ weather.wind.speed }} m/s</p>
          </div>
        </div>
        <div class="card-weather-block">
          <img
            class="weather-back-logo"
            [src]="getWeatherImageById(weather.weather_id).src"
            alt="{{ weather.weather }}"
          />
        </div>
      </div>
      <app-icon-button
        icon="delete"
        alt="Delete"
        (click)="onDeleteCity(weather.id)"
      ></app-icon-button>
    </div>
  </app-city>
</div>
